.dynamic-content {
    display:none;
}

h1 {
    background-image: url("../images/youtube_logo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 55px;
    font-size: 3rem;
}

@media screen and (max-width: 530px) {
    h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 375px) {
    h1 {
        font-size: 1.5rem;
    }
}

body {
    background: rgb(226, 226, 226);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 55px;
}

/* #results{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} */